@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: var(--font-fraunces); /* nouvelle variable pour Fraunces */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:#4C4333;
    --foreground: #FFF2DC;
    height: 100vh;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), serif; /* utilise maintenant Fraunces */
}
