@import "tailwindcss";

:root {
  --background: #EAE0D5;
  --foreground: #131a2a;
  --font-primary: var(--font-merriweather);
  --font-secondary: var(--font-roboto);
  --font-cta: var(--font-poppins);
  --dashboard-font-primary: var(--font-roboto);
  --dashboard-bck: #151d2c;
  --dashboard-sidebar: #192237;
  --dashboard-textSoft: #b7bac1;

}

::-webkit-scrollbar {
  display: none;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #131A2A;
    --foreground: #EAE0D5;
    height: 100vh;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), serif;
}

a{
  font-family: var(--font-cta), serif;
}
