@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: var(--font-fraunces); /* nouvelle variable pour Fraunces */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-primary); /* remplace l’ancienne font */
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:#4C4333;
    --foreground: #FFF2DC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), serif; /* utilise maintenant Fraunces */
}
