.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #fdfaf4;
  position: relative;
  overflow: hidden;

  .svg_container {
    width: 100%;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    .intro-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

      span.left-text,
      span.right-text {
        position: absolute;
        opacity: 0;
        font-size: 2rem;
        font-weight: bold;
        pointer-events: none;
      }

      span.left-text {
        color: #7a6b5c;
      }

      span.right-text {
        color: #4c4333;
      }
    }
  }
.fullscreen-rect {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 4px;
  background-color: #4C4333;
  transform: translate(-50%, -50%) scale(1); // scale initial
  transform-origin: center center; // important !
  z-index: 50;
}

}
