.home {
  font-family: var(--font-primary), serif;
  font-weight: 700;
  font-size: 3rem;
  color: var(--foreground);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  .intro-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .intro-text {
      text-align: center;

      .text-title {
        margin-bottom: 1rem;
      }

      .name {
        display: inline-block; // important pour GSAP translateY
        position: relative;    // pour que y fonctionne
        color: var(--foreground);
      }

      .intro-taches {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .intro-tache {
          font-weight: 400;
          font-size: 1.8rem;
        }
      }

      .name-container {
        position: relative;
        display: inline-block;

        span {
          display: inline-block;
          position: relative; // pour les translations GSAP
        }

        .full-name {
          position: absolute;
          top: 0;
          left: 0;
          white-space: nowrap;
          color: var(--foreground);
          opacity: 0;         // invisible par défaut
          pointer-events: none; // pour que le hover reste sur le surnom
        }
      }
    }
  }
}
