.sidebar {
  position: sticky;
  top: 40px;

  .sidebar_user {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    .user-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      object-position: 0 -2px;
    }

      .user-detail {
        display: flex;
        flex-direction: column;

        .detail-username{
            font-weight: 500;
        }
        .detail-userTitle{
            font-size: 12px;
            color: var(--dashboard-textSoft);
        }
      }
  }

  .sidebar_pages{
    display: flex;
    flex-direction: column;
    
    .pages-link{
        padding: 20px;
        gap: 20px;
    }
  }
}
